body {
  text-align: center;
  background-color: black;
  background-image:url("https://media1.giphy.com/media/aRZ4vTsHnyW6A/giphy.webp?cid=ecf05e47aynhzxdajqweimsx5lqva4oflt8nv3vehcez6jb7&rid=giphy.webp");
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/hindi.png");

}

.a {
  background-image: url("images/hindi.png");


}

.s {
background-image: url("images/hindi.png");
}

/* .d {
background-image: url("images/tom4.png");
}

.j {
background-image: url("images/snare.png");
}

.k {
background-image: url("images/crash.png");
}

.l {
background-image: url("images/kick.png");
} */

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: white;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.stop{
  border-radius: 12px;
  width: 100px;
  height: 50px;
  margin-top: 40px;
  background-color: black;
  color: white;
  font-family: 'Arvo',cursive;
}
